
body {
  font-family: Arial, sans-serif;
  background: #e9c8c8;
  margin: 0;
  /* padding: 20px; */
  text-align: center;
  color: #333;
  line-height: 1.6;
  /* max-width: 900px; */
  /* margin: 0 20px; */
  box-shadow: 0 0 10px rgba(77, 2, 2, 0.1);
  border-radius: 10px;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #1a1a1a, #390303);

  
  /* subtle gradient */
  padding: 12px 40px;
  box-shadow: 0 2px 5px rgba(170, 88, 88, 0.2);
  border-radius: 10px;
  position: relative;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-family: "Georgia", serif; 
  font-weight: bold;
  color: #f8f8f8;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}


/* Mobile Nav Toggle */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;

}

.nav-links.active {
  display: block;
  position: absolute;
  top: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: rgb(153, 14, 14);
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica", sans-serif;
  color: #f1f1f1;
  padding: 6px 10px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav-links li a:hover {
  color: #ffd369; 
  border-bottom: 2px solid #ffd369;

}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;

}

.profile-pic {
  width: 150px;
  border-radius: 10%;
  margin: 15px 0;
  border: 4px solid #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.gallery img {
  width: 50px;
  height: auto;
  border: 3px solid #444;
  border-radius: 10px;
  margin-bottom: 20px;
}

.thumbnails img {
  width: 150px;  
  height: auto;
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s, border 0.3s;
}

.thumbnails img:hover {
  border: 2px solid #007BFF;
  transform: scale(1.05);
}

.form-section {
  width: 60%;
  margin: 40px auto;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Georgia", serif;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

form button {
  margin-top: 15px;
  padding: 12px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #ffd369;
  color: #000;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

footer {
  margin-top: 30px;
  padding: 15px;
  background: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(77, 2, 36, 0.1);
}